{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="super_container">
        {% include 'home/slide.html.twig' %}
        {% include 'home/popularCourses.html.twig' %}
        {% include 'home/search.html.twig' %}
        {% include 'home/services.html.twig' %}
        {% include 'home/testimonials.html.twig' %}
        {% include 'home/events.html.twig' %}
    </div>
{% endblock %}
