#registration-page {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*.col input:last-of-type {*/
    /*margin-bottom: 24px;*/
/*}*/

/*button.btn.btn-primary.btn-lg.btn-block {*/
    /*background-color: #2064a5;*/
    /*font-size: 23px;*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
    /*border: none;*/
/*}*/

/*.date_regist label.required {*/
    /*margin-left: 16px;*/
/*}*/

/*.matter_regist label {*/
    /*margin-right: 8px;*/
/*}*/

/*.classes_label_regist label#input-group-text {*/
    /*margin-right: 13px;*/
/*}*/

/*#info_schoolBoy_regist {*/
    /*margin-top: 40px;*/
/*}*/

h2 {
    margin-bottom: 27px;
    padding: 5px;
}

button {
    margin-bottom: 25px;
}

label {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
}

.form-control::placeholder {
    color: #000000;
    opacity: 1
}

.form-control-danger, .form-control-success, .form-control-warning {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-danger .form-control-danger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");

}

.has-success .form-control-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-success .form-control {
    border-color: #5cb85c;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.custom-control, .has-danger .form-check-label, .has-danger .form-control-feedback, .has-danger .form-control-label {
    color: #d9534f;
}

.form-control-feedback {
    margin-top: .25rem;
}