.form-group {
    width: 36%;
    margin: auto;
}

.col input:last-of-type {
    margin-bottom: 24px;
}

button.btn.btn-primary.btn-lg.btn-block {
    color: #fffff;
    background-color: #ffb606;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.date_regist label.required {
    margin-left: 16px;
}

input#registration_schoolBoy_birthplace {
    position: relative;
    top: 28px;
}

select#registration_schoolBoy_classes {
    width: 35.5%;
}

.matter_regist label {
    margin-right: 8px;
}

.matter_regist input {
    margin-right: 4px;
}

.classes_label_regist label#input-group-text {
    margin-right: 13px;
}

#info_schoolBoy_regist {
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

button {
    margin-bottom: 25px;
}

.classes_regist {
    width: 282%;
    display: block;
}

input#registration_schoolBoy_birthDate, select#registration_schoolBoy_classes{
    background-color: #f8f3f4;
}